.App {
  /* text-align: center; */
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 150px;
  min-width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.WAMuiChipInput-root-1 + .WAMuiChipInput-root-1 {
  margin-top: 15px;
}

.btn {
  margin-top: 15px !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  background-color: #282c34;
  color: white;
  min-width: 350px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flext-start;
  text-align: left;
  max-height: 500px;
}
